@font-face {
    font-family: Stem; 
    src: local("Stem"), 
     url(fonts/stemL.otf); 
}

body {
    background-color: white;
    font-family: Halant, sans-serif;
}

main.wrapper {max-width: 1600px;}
    main:not(.wrapper) {
    margin: 0 auto;
    margin-top:160px;
}

.popup {
    background: rgb(216, 215, 215);
    width: 570px;
    height: 500px;
    font-size: 2em;
    letter-spacing: 0.1em;
    padding-left: 1.5em;
    margin: 0 auto;
    display: none;
    position: fixed; 
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.middle{width: 700px;}
.long {width: 90%;
max-width: 1200px;
height: 60vh;
}
.long>div {overflow-y: scroll;}

.popup:target {
    display: table;
}
.popup>div{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.close {color: black;}

.bg, nav, footer, .menu, .nav__showmenu {
    background: #EDEDED;
}

.bg {display: table;}
.bg>div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.detail{
    letter-spacing: 0.5em;
    font-size: 2.125em;
    padding: 2em 0;
}
.detail:hover {
    -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -o-transform: scale(1.1);
}

h3{
    font-size: 2.125em;
    text-transform: uppercase;
    letter-spacing: 0.28em;
    line-height: 1.5em;
    padding: 2em 0;
}

nav label {
    display: none;
    font-size: 32px;
    color: black;
    padding-left:30px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
    text-align: center;
    z-index:10;
}

.menu li {
    display: inline-block;
    width: 30%;
    margin-top: 70px;
}

.menu__item {
    color: #474646;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
}
.menu__item:hover, .menu__item:active {
    color: #E6007E;
}
.logo {
    background-image: url(src/logo.png);
    background-size: contain;
    width: 100px;
    height: 60px;
    margin: 0 auto;
}

header>div {
    margin-top: 160px;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-image: url(src/livingroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hgroup {
    text-align: center;
    margin-left: 35%;
    padding-top: 3em;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 0.4em;
}
.hgroup p {
    font-size: 0.45em;
    letter-spacing: 0.25em;
    font-weight: 600;
}
.hgroup h2 {
    letter-spacing: 0.04em;
    font-weight: 400;
}
h1 {letter-spacing: 0.1em;}

.action {
    background: radial-gradient(419.43px at 50% 51.21%, #D8D5D2 0%, #888478 100%);
    font-size: 2.25em;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    padding: 1em;
}
.action p {
    text-transform: uppercase;
    font-weight: 600;
    color: #F2F2F2;
}
.action p:first-child {padding-top: 70px;}
p.pink, a.detail {
    color: #DC1883;
    padding: 0.7em 0;
}
.action .btn{
    overflow: hidden;
    max-width: 66%;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
    border: 3px solid #FFF;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.btn a {
    color: white;
    font-size: 0.83em;
}
.btn:hover, .btn:active {
    box-shadow:inset 1200px 0 0 0 rgba(92, 91, 91, 0.2);
    border: 3px solid #cfcfcc;
}
.btn:hover a, .btn:active a {color: #ffffffaf;}
div.pink__btn:hover, div.pink__btn:active {
    border: none;
    box-shadow:inset 1200px 0 0 0 rgb(148, 10, 86);
}

.form__container{
    position: fixed; 
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    width: 730px;
    height: 660px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    display: none;
}
.form__container:target {display: block;}

form {margin: 20px 60px;}
.field-block label, .field-block .field {
	display: block;
    width: 100%;
    padding-left: 5px;
}
input, textarea {
    outline:none;
    border: 1px solid black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    margin: 15px 0;
}
input {height: 50px;}
textarea {height: 100px;}

.form__container .close {padding: 10px;}
h4 {margin: 40px 0 20px 60px;}

label>span {color: #DC1883;}
.pink__btn {
    display: block;
    border: none;   
    background: #DC1883;
    box-shadow: 4px 4px 4px rgba(220, 24, 131, 0.2);
    border-radius: 30px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 50px;
}
input.button { 
    height: 20px;
    color: white;
    display: inline;
    border: none;
    background-color: #dc1883;
}
input.button:hover {box-shadow:inset 1200px 0 0 0 rgb(148, 10, 86);}

footer {
    width: 100%;
    height: 650px;
    font-size: 24px;
}

footer>div {
    padding-top: 5em;
    text-align: center;
}

footer a {
    font-size: 2em;
    letter-spacing: 0.2em;
    color: black;
}
.tel{font-family: Stem;}
.allday{
    font-size: 1.25em;
    margin: 0.5em 0 3em;
    letter-spacing: 0.1em;
}
.cr {font-size: 0.5em;
    font-weight: 500;}
.cr span {padding: 0.5em;}

.socials a {
    display: inline-block;
    margin: 1.6em 0.2em 0.2em;
}

.mail{
    width: 80px;
    height: 80px;
    background-image: url(src/email.png);
    background-size: contain;
}
.insta {
    width: 85px;
    height: 85px;
    background-image: url(src/instagram.png);
    background-size: contain;
}

.fb {
    width: 85px;
    height: 85px;
    background-image: url(src/facebook.png);
    background-size: contain;
}

.content__wrapper>section {
    min-width: 320px;
    margin: 0 auto;
    min-height: 50vh;
}

.furniture {
    background-image: url(src/fon5.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
}
.line {
    width: 300px;
    border-top: 3px solid rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}
.img.coach {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 690px;
    margin: 0 auto;
    background-image: url(src/coach.png);
    background-size: contain;
}
.top {padding-top: 8em;}
.bottom {padding: 4em 0 12em;}

.img, .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
    margin: 0.6em;
}
.img:not(.electrik):not(.coach) {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(209, 209, 209, 0.6);
    -moz-box-shadow: 7px 7px 5px 0px rgba(209, 209, 209, 0.6);
    box-shadow: 7px 7px 5px 0px rgba(209, 209, 209, 0.6);
}
.img.electrik {
    background-size: contain;
    margin: 0 auto;
}

.img.repair{background-image: url(src/interrier.jpg);}
.img.demount {background-image: url(src/demount3.png);}
.img.build{background-image: url(src/gardenhouse.JPG);}
.img.houses{background-image: url(src/boards.jpg);}
.img.bath{background-image: url(src/bathhouse.jpg);}
.img.commertial{background-image: url(src/caffeinterior.jpg);}
.img.garages{background-image: url(src/garage.jpg);}
.img.design{background-image: url(src/dinnerum.jpg);}
.img.outdoor{background-image: url(src/gardenworks.jpg);}
.img.bathroom{background-image: url(src/watertube.jpg);}
.img.electrik{background-image: url(src/counter.jpg);}


.projects {
    margin: 0 auto;
}

.pin:before{
position: absolute;
display: block;
z-index: 3;
content: "";
background-repeat: no-repeat;
background-size: cover;
font-size: 20px;
width: 60px;
height: 60px;
top: -55px;
right: 45%;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg); 
transform: rotate(-45deg);
}
.pin.pin1:before {background-image: url(src/pin1.png);}
.pin.pin2:before {background-image: url(src/pin2.png);}
.pin.pin3:before {background-image: url(src/pin5.png);}
.pin.pin4:before {background-image: url(src/pin3.png);}
.pin.pin5:before {background-image: url(src/pin4.png);}

figure {
    position: relative;
    background: linear-gradient(270.75deg, rgba(255, 255, 255, 0.6) 1.67%, rgba(216, 213, 210, 0.6) 100.48%);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    display: block; 
    max-width: 645px; 
    max-height: 757px; 
    text-align: center; 
    margin-top: 420px;
   }
.nomargin {margin-top: 0px;
}
figure img {
    width: 600px;
    height: 540px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

figcaption h3 {
font-size: 35px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;
color: #DC1883
}

h2.pink{
    position: relative;
    font-size: 52px;
    text-align: center;
    color: #DC1883;
    text-transform: uppercase;
    padding: 70px;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    background: radial-gradient(775.84px at 50.08% 49.8%, rgba(211, 208, 204, 0.6) 0%, rgba(136, 132, 120, 0.6) 100%);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 730px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 250px;
}

.houses__wrapper, .projects__wrapper {padding: 80px;}
.houses__wrapper h4 {
    margin-left: 0;
    font-size: 24px;
    letter-spacing: 0.17em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 80px 0 50px;
}

.houses__img img { 
    margin-right: 20px;
    margin-bottom: 20px;
    transition: width 0.5s ease; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.landscape.malevich {max-width: 700px;}
.landscape img, .land {width:320px;}
.portrait img, .port {width: 180px;}
/*
.landscape img:hover, img.land:hover {cursor: pointer; width: 600px; position: absolute;} 
.portrait img:hover, img.port:hover {cursor: pointer; width:320px; position: absolute;}
*/


@media (min-width: 1130px){
    .img, .bg {
        width: 48%;
        min-height: 50vh;
    }
    .content__wrapper .left, .projects .left {float: left;}
    .content__wrapper .right, .projects .right {float: right;}
    .furniture {clear: both;}
    .content__wrapper>section {width: 100%;}
    .menu__item {font-size: 33px;}
    .action p.pink {font-size: 40px;}
    .action .btn {max-width: 45%;}
    .tel {font-size: 44px;} 
    .popup{
    font-size: 2.25em;
    letter-spacing: 0.17em;
        }
    }
    
    @media (max-width: 839px) {
        .menu__item {font-size: 22px; letter-spacing: 0.1em;}
        .hgroup {margin-left: 10%;}
        h2.pink {
            font-size: 46px;
            padding: 50px;
            margin-top: 70px;
            margin-bottom: 160px;
        }
        
        figcaption h3 {font-size: 26px;}
        .projects__wrapper {padding-left: 0px; padding-right: 0px;}
    }
    
    @media screen and (orientation:landscape) {
        .form__container{
            top: 10%;
        }
    }
    
    @media (max-width: 759px) {
        figure img {
            width: 500px;
            height: 450px;
        }
        .action .btn {padding: 16px; line-height: 1;}
        .action .btn>a {font-size: 26px; letter-spacing: 0.06em;}
        .tel{letter-spacing: 0.16em}
        /*размер формы и попап миддл*/
    }
    
    @media (max-width: 539px)  { 
        nav>label.nav__showmenu {display: block;}
        nav .menu {
            display: none;
            position: absolute;
            margin-top: 40px;
            text-align: left;
            height: 100%;
            height: 260px;
            width: 220px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        nav .menu li {
            display:block;
            margin: 30px;
        }
        .nav__check:checked~ul.menu {display: block;}
        .nav__check:checked+label.nav__showmenu {opacity:0.5;}
    
        header>div, main.projects__wrapper, main.houses__wrapper {margin-top: 0px;}
        h1{font-size: 50px;}
        h2{font-size: 46px;}
        .hgroup p{
            font-size: 16px; letter-spacing: 0.06em;
        }
        .action {font-size: 18px;}
        h2.pink {
            font-size: 32px;
            padding: 20px;
            margin-top: 50px;
        }
        figcaption h3 {
            font-size: 22px;
            line-height: 35px;
        }  
        figure {margin-top: 200px;}
        figure img {
            width: 420px;
            height: 378px;
        }
        .wrapper h3 {font-size: 1.8em; letter-spacing: 0.18em;}
        .detail {letter-spacing: 0.2em; font-size: 2em;}
        .tel {font-size: 1.6em; letter-spacing: 0.1em;}
    }

    @media (max-width:420px){
    figure img {
        width: 300px;
        height: 270px;
    }
    .tel {font-size: 1.6em;}
    }

@media (min-width: 1600px){
.houses__img>div {float: left;}
.landscape {max-width: 1036px;}
.center {margin-top: 90px;}
img.middle {margin-top: 30px;}
img.eq {margin-bottom: 30px;}
img.up {margin-bottom: 60px;}
}



